<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">.Net</a>
            <nav id="nav">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="AnswerImages" asp-action="Index">Images</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h1>.Net Enterprise Application Dev.</h1>
        <p>Today's Feature Dish -- Lab 5</p>
    </section>

    <!-- Content -->
    <div>
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; Untitled.
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>
