@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE HTML>
<html>
<body class="subpage">

    <section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>
            </header>
        </div>
    </section>

</body>
</html>